<div class="card">
    <div class="card-body">
        <div class="abstract header"><b style="width:38%"></b></div>
        <div class="abstract paragraph"><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b style="width:22%"></b></div>
        <div class="abstract paragraph"><b></b><b></b><b></b><b></b><b></b><b style="width:55%"></b></div>
        <div class="abstract paragraph"><b></b><b></b><b></b><b></b><b></b><b style="width:42%"></b></div>
        <div class="abstract paragraph"><b></b><b></b><b style="width:45%"></b></div>
        <div class="abstract paragraph">
            <b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b style="width:90%"></b>
        </div>
        <div class="abstract paragraph"><b></b><b></b><b style="width:78%"></b></div>
        <div class="abstract paragraph"><b></b><b></b><b></b><b></b><b style="width:87%"></b></div>
        <div class="abstract footer"><b style="width:55%"></b></div>
    </div>
</div>
