<div class="blog">
    <div class="abstract header"><b style="width:38%"></b></div>
    <p class="abstract paragraph"><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b style="width:22%"></b></p>
    <p class="abstract paragraph"><b></b><b></b><b></b><b></b><b></b><b style="width:55%"></b></p>
    <p class="abstract paragraph"><b></b><b></b><b></b><b></b><b></b><b style="width:42%"></b></p>
    <p class="abstract paragraph"><b></b><b></b><b style="width:45%"></b></p>
    <p class="abstract paragraph"><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b style="width:90%"></b></p>
    <p class="abstract paragraph"><b></b><b></b><b style="width:78%"></b></p>
    <p class="abstract paragraph"><b></b><b></b><b></b><b></b><b style="width:87%"></b></p>
    <div class="abstract footer"><b style="width:55%"></b></div>
</div>
