body {
}

nav {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 4px;
}

footer {
    margin-top: 50px;
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 0.05rem solid #e5e5e5;
}

.layout-blog .col-body {
    flex: 1;
}

.layout-blog .col-side {
    flex: 0 0 300px;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.06);
    margin-bottom: 30px;
}

.card:last-child {
    margin-bottom: 0;
}

.abstract.paragraph {
    margin-bottom: 25px;
}

.abstract.paragraph:last-child {
    margin-bottom: 0;
}

.abstract.paragraph b {
    display: block;
    height: 12px;
    border-radius: 8px;
    background: #eaeaea;
    margin-bottom: 10px;
}

.abstract.header {
    margin-bottom: 20px;
}

.abstract.header b {
    display: block;
    height: 22px;
    border-radius: 12px;
    background: #bfbfbf;
}

.abstract.footer {
}

.abstract.footer b {
    display: block;
    height: 14px;
    border-radius: 12px;
    background: #e2e2e2;
}

.abstract.content {
    height: 250px;
    background: #e2e2e2;
}

.abstract.content.x2 {
    height: 500px;
    background: #e2e2e2;
}
